<h1>{{ singleSoiree.nom }}</h1>

<table class="table table-striped">

  <h4> Evènements privés inclus dans la soirée : </h4>
    <div class="col-md-5 my-1" *ngFor="let item of tabPrivate">
      <ul class="nav navbar-nav">
        <li>Titre : {{item.name}}</li>
        <li>Date : {{item.dateEvent}}</li>
        <li>Heure : {{item.heure}}</li>
        <li>Lieu : {{item.lieu}}</li>
      </ul>

    </div><br/>


  <h4> Evènements OpenData inclus dans la soirée : </h4>
  <div class="col-md-5 my-1" *ngFor="let item of tabOpenData">
    <ul class="nav navbar-nav">
      <li>Lieu : {{item.placename}}</li>
      <li>Lien : <a href="{{item.link}}" target="_blank">{{item.link}}</a></li>
    </ul>

  </div><br/>

  <h4> Participants à la soirée :</h4>
  <ul class="nav navbar-nav" *ngFor="let participant of singleSoiree.participant ">
    <li>{{participant}}</li>
  </ul><br/>



<button class="btn btn-primary" (click)="envoyerNotifsAuxAmis(singleSoiree.id)">Prévenir mes amis</button><br/><br/>


<a routerLink="/event-private">Retour à la liste des utilisateurs</a>
