<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="alert alert-success" role="alert">
      <h1 class="center">Ajouter un évènement publique à votre soirée publique</h1>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <select id="eventprivee" class="form-control" name="eventprivee" ngModel>
        <option *ngFor="let eventPrivate of eventsPrivate" value="{{eventPrivate.id}}">{{eventPrivate.name}}</option>
      </select>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="f.invalid" type="submit">Ajouter</button>
    </form>
  </div>
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert">
        <h1 class="center">Ajouter un évènement publique à votre soirée publique</h1>
      </div>
      <table>
        <tr *ngFor="let eventOpenData of eventsOpenData">
          <td>{{eventOpenData.title}}</td>
          <td>{{eventOpenData.address}}</td>
          <td>{{eventOpenData.city}}</td>
          <td>{{eventOpenData.placename}}</td>
          <td><a href="{{eventOpenData.link}}" target="_blank"> {{eventOpenData.link}} </a></td>
          <td><button class="btn btn-light" (click)="onAjouterEventToSoiree(eventOpenData.title, eventOpenData.placename,eventOpenData.link)">
            Ajouter à votre soirée</button>
          </td>
        </tr>
      </table>
    </div>

</div>
