
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-10 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            <h1 class="card-title text-center">Votre soiree</h1>
          </div>
          <form [formGroup]="soireeForm" (ngSubmit)="onSubmitForm()">

            <div class="form-label-group">
              <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Donnez un nom a votre soiree" autofocus/>
            </div>

            <div class="form-label-group">
              <input type="hidden" id="pseudo" formControlName="pseudo" value="{{sessionPseudo}}" autofocus/>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="soireeForm.invalid" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

